  <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Render
        <!-- <img src="/img/logo.svg" alt=""> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav ms-auto mb-2 mb-md-0 pt-2">


          <li class="nav-item">
            <a class="nav-link px-3 navbar-custom" href="/posts/timeline/all">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3 navbar-custom" href="/discover">Discover</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3 navbar-custom" href="/explore">Explore</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link navbar-custom px-3 " href="/notifications"><i class="fa-solid fa-bell fa-1x"></i></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link navbar-custom px-3 " href="/users/<%= user.id %>/saved"><i class="fa-solid fa-bookmark fa-1x"></i></a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu dropdown-menu-end">

              <li><a class="dropdown-item" href="/users/<%= user.username %>">Profile</a></li>

            <% if (user.isPrivate){ %>
              <li><a class="dropdown-item" href="/users/<%= user.id %>/requests">Follower Requests</a></li>
            <% } %>

              <li><a class="dropdown-item" href="/users/<%= user.id %>/likes">Likes</a></li>
              <li><a class="dropdown-item" href="/users/<%= user.id %>/settings">Profile Settings</a></li>
              <li><a class="dropdown-item" href="/discover/<%= user.id %>/settings">Discover Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/auth/logout">Log out</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>
