<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="icon" href="data:,">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= typeof title != "undefined" ? title: "Render" %></title>

  <!-- Google Fonts -->

  <!-- FontAwesome CDN -->
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <!-- Bootstrap CDN-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <!-- External CSS -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>



  <div class="">

    <header>
      <% if (isAuthenticated){ %>
        <%- include('../partials/menu_authenticated') %>
      <% } else { %>
          <%- include('../partials/menu_unauthenticated') %>
      <% } %>
    </header>




    <main>
      <%- body -%>
    </main>



    <footer>
      <div class="footer-copyright">
          <p class="text-secondary text-center">© Copyright 2023 Render</p>
      </div>
    </footer>
  </div>

<!-- login auth modal -->
  <div class="modal fade" id="failed-auth-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">

        <div class="d-flex modal-header flex-wrap">
          <div class="d-flex col-12 justify-content-end">
            <button type="button" class="close x-btn" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="col-12 mx-auto justify-content-center d-flex">
            <h5 class="modal-title fw-bold" id="modal-title">Please sign in.</h5>
          </div>
        </div>

        <div class="d-flex flex-wrap col-8 modal-footer mx-auto justify-content-center">

          <div class="d-flex">
            <form action="/auth/login/modal" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email">
              </div>
              <div class="form-group pt-2">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <input type="hidden" name="reload" value="true">
              <input type="hidden" name="redirectUrl" id="redirectUrlField">
              <div class="">
                <button type="submit" class="btn btn-primary d-flex mx-auto mt-3 auth-modal-btn justify-content-center">Login</button>
              </div>

            </form>
          </div>

          <div class="d-flex py-3">
            <form class="" action="/auth/register" method="get">
              <button class="btn btn-dark auth-modal-btn" type="button" onclick="">Register</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

<% if (user) { %>
  <!-- profile img upload modal -->
    <div class="modal fade" id="profilepic-edit-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <div class="modal-header d-flex flex-wrap">
            <div class="d-flex col-12 justify-content-end">
              <button type="button" class="close x-btn" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="col-12 mx-auto justify-content-center d-flex">
                <h5 class="modal-title fw-bold" id="modal-title">Image Upload</h5>
            </div>

          </div>

          <div class="modal-body py-0">
            <p class="text-secondary text-center">Upload an image for your profile picture.</p>
          </div>

          <div class="col-12 modal-footer justify-content-center">

            <form class="col-12" action="/users/<%= user.id %>/settings/profilepic" enctype="multipart/form-data" method="post">

              <div class="col-12 px-2">
                <label class="form-label" for="img">Profile Picture</label>
                <input type="file" class="form-control" required name="img" accept="image/*">
              </div>

              <div class="col-12 text-center my-4">
                <button type="submit" class="btn btn-primary" name="button">Upload</button>
              </div>

            </form>

          </div>

        </div>
      </div>
    </div>
    <!-- header img upload modal -->
    <div class="modal fade" id="header-edit-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <div class="modal-header d-flex flex-wrap">
            <div class="d-flex col-12 justify-content-end">
              <button type="button" class="close x-btn" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="col-12 mx-auto justify-content-center d-flex">
                <h5 class="modal-title fw-bold" id="modal-title">Image Upload</h5>
            </div>

          </div>

          <div class="modal-body py-0">
            <p class="text-secondary text-center">Upload an image for your profile header.</p>
          </div>

          <div class="col-12 modal-footer justify-content-center">

            <form class="col-12" action="/users/<%= user.id %>/settings/header" enctype="multipart/form-data" method="post">

              <div class="col-12 px-2">
                <label class="form-label" for="img">Header Image</label>
                <input type="file" class="form-control" required name="img" accept="image/*">
              </div>

              <div class="col-12 text-center my-4">
                <button type="submit" class="btn btn-primary" name="button">Upload</button>
              </div>

            </form>

          </div>

        </div>
      </div>
    </div>


    <div class="modal fade" id="change-password-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

          <div class="modal-header justify-content-center">
            <h5 class="modal-title fw-bold" id="modal-title">Update Password</h5>
          </div>

          <form method="post">

            <div class="modal-body">

              <label for="oldPassword" class="form-label">Current Password</label>
              <input type="password" class="form-control" name="oldPassword" id="oldPassword" required>

              <label for="newPasswordOne" class="form-label pt-2">New Password</label>
              <input type="password" class="form-control" name="newPasswordOne" min="6" id="newPasswordOne" required>

              <label for="newPasswordTwo" class="form-label pt-2">Confirm New Password</label>
              <input type="password" class="form-control" name="newPasswordTwo" min="6" id="newPasswordTwo" required>

            </div>

            <div class="modal-footer justify-content-center d-flex">
              <a class="btn btn-primary col-12" onclick="userChangePassword('<%= user.id %>')">Update Password</a>
              <button class="btn btn-outline-dark col-12" type="button" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
            </div>


          </form>

        </div>
      </div>
    </div>
<% } %>


  <script src="https://kit.fontawesome.com/bbaf710261.js" crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>
