<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto mb-5">

      <h3 class="heading-white-bg pt-5 fw-bold"><%= pageHeading  %></h3>

      <div class="row py-4" id="users-container">
        <% if(paginatedResults.length != "") { %>
        <% paginatedResults.results.forEach(function(user){ %>

          <div class="col-12 d-flex flex-wrap border-top border-subtle py-2">

            <div class="col-1 pt-2">
              <a href="/users/<%= user.username %>" class="form-label me-3">
                <img class="directory-profile-pic" src="/uploads/<%= user.profilePicture %>" onerror="this.onerror=null; this.src='/uploads/flame.PNG';" alt="">
              </a>
            </div>

            <div class="col-11 ps-3 d-flex justify-content-between flex-wrap pt-2">
              <div class="d-flex">
                <a href="/users/<%= user.username %>" class="mb-0 d-flex justify-content-start justify-content-md-start text-dark align-items-start pt-1"><i class="fa-solid fa-user me-2 profile-icon-color pt-1"></i><%= user.displayName %></a>
                <a href="/users/<%= user.username %>" class="text-secondary fw-light username-link ps-2 pt-1">@<%= user.username %></a>
                <% if (user.isPrivate === true) { %>
                <i class="fa-solid fa-sm fa-lock text-secondary ps-2"></i>
                <% } %>
              </div>


              <% if (currentUser._id.toString() != user._id.toString()) { %>
                <div class="col-2 d-flex justify-content-end pt-1">
                  <form id="followForm-<%=user._id%>" action="/users/<%= user._id %>/follow" data-user-id="<%= user._id %>" method="post" class="follow-form">
                    <button id="followButton<%= user._id %>" class="follow-button btn btn-lg <%= user.alreadyFollowed ? 'btn-outline-primary followed' : (user.alreadyRequested ? 'btn-outline-primary requested' : 'btn-primary') %>" data-user-id="<%= user._id %>" data-already-followed="<%= user.alreadyFollowed %>" data-already-requested="<%= user.alreadyRequested %>" type="submit" name="followBtn">
                      <%= user.alreadyFollowed ? 'Following' : (user.alreadyRequested ? 'Requested' : 'Follow') %>
                    </button>
                  </form>
                </div>
              <% } %>

              <p class="text-break col-12 mb-0 py-2"> <%= user.desc %> </p>
            </div>

          </div>

        <%  }); %>
        <% } else { %>
        <p class="no-more-posts d-none text-center py-5">Nothing to see here.</p>
        <% } %>

      </div>

    </div>

  </div>
  <input type="hidden" id="currentPage" value="<%= currentPage %>">
  <div class="load-more-posts"></div>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="/js/infinite-pagination.js"></script>
</div>
