<h1>Search Results: "<%= searchTerm%>"</h1>


<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

  <% if (posts != "") { %>
    <% posts.forEach(function(recipe, index){ %>

      <a href="/posts/<%= recipe._id %>" class="col text-center category-link">
        <div class="explore-img latest-img">
          <img src="uploads/<%= recipe.img %>" alt="<%= recipe.title %>" loading="lazy">
        </div>
      <div class="pt-1"><%= recipe.title %></div>
      </a>

    <% }) %>
  <% } else { %>
    <p>No Items Found.</p>
  <% } %>

</div>
