<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto mb-5">
      <h3 class="display-6 fw-bold heading-white-bg text-center">User Settings</h3>

      <form class="col-12" action="/users/<%= user.id %>/settings" enctype="multipart/form-data" method="post">


        <div class="d-flex col-12 flex-wrap">
          <img src="/uploads/<%= user.headerPicture %>" data-bs-toggle="modal" data-bs-target="#header-edit-modal" onerror="this.onerror=null; this.src='/uploads/flame header.png';" class="img-fluid edit-header-img col-12 mx-auto my-4"
            alt="<%= user.username %>" loading="lazy">

          <div class="col-12 d-flex flex-wrap">

            <div class="col-12 pb-4 d-flex">
              <div class="col-4 ms-3 d-flex align-items-center">
                <img src="/uploads/<%= user.profilePicture %>" data-bs-toggle="modal" data-bs-target="#profilepic-edit-modal" onerror="this.onerror=null; this.src='/uploads/flame.PNG';" class="img-fluid edit-profile-picture col-12 col-lg-3"
                  alt="<%= user.username %>" loading="lazy">
              </div>

              <div class="col-8 d-flex align-items-center pe-3 flex-wrap">
                <div class="col-12">
                  <div class="">

                    <label for="username" class="form-label">Username</label>
                    <i id="username-change-success" class="fa-solid fa-check text-success ps-1 d-none"></i>
                    <i id="username-change-failure" class="fa-solid fa-xmark text-danger ps-1 d-none"></i>
                  </div>
                  <p id="username-change-failure-message" class="text-secondary mb-0  d-none">Username not valid.</p>
                  <input type="text" class="form-control" name="username" id="username" onfocusout="userChangeUsername()" pattern="[a-zA-Z0-9]+" minlength="3" maxlength="27" value="<%= user.username %>" required>


                </div>
                <div class="col-12 pt-2">
                  <label for="displayName" class="form-label">Display Name</label>
                  <input type="text" class="form-control" name="displayName" id="displayName" minlength="3" maxlength="30" value="<%= user.displayName %>" required>
                </div>

              </div>
            </div>

            <div class="col-12">
              <label for="desc" class="form-label">Bio</label>
              <textarea name="desc" class="form-control" rows="4" cols="30" maxlength="150" id="desc"><%= user.desc %></textarea>
            </div>


            <div class="pt-5 col-12 pb-2">
              <div class="text-center pb-4">
                <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSecurity" aria-expanded="false" aria-controls="collapseSecurity">
                  Security Settings
                </button>
              </div>


              <div class="collapse" id="collapseSecurity">
                <div class="card card-body">

                  <div class="col-12 pb-4">
                    <div class="">
                      <label for="email" class="form-label">Email</label>
                      <i id="email-success" class="fa-solid fa-check text-success ps-1 d-none"></i>
                      <i id="email-failure" class="fa-solid fa-xmark text-danger ps-1 d-none"></i>
                    </div>

                    <p id="email-failure-message" class="text-secondary mb-0 d-none">This email is already in use.</p>
                    <input type="email" class="form-control mb-1" name="email" id="email" onfocusout="userCheckEmail()" value="<%= user.email %>" required>

                  </div>


                  <div class="form-check form-switch d-flex flex-wrap ps-0 pb-4">
                    <label class="form-check-label col-12 form-label" for="isPrivate">Private Profile</label>
                    <input class="form-check-input col-12 ms-0" type="checkbox" role="switch" id="isPrivate" name="isPrivate" <% if (user.isPrivate) { %>checked<% } %>>
                  </div>

                  <div id="password-success-alert" class="col-12 d-none bg-success mb-3 p-3 text-center">
                    <p class="mb-0 text-white">
                      Password updated successfully.
                    </p>
                  </div>
                  <div id="password-failure-alert" class="col-12 d-none bg-danger mb-3 p-3 text-center text-white">
                    <p class="mb-0">
                      Error.
                    </p>
                  </div>

                  <div class="text-center pb-4">
                    <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#change-password-modal"aria-expanded="false">
                      Change Password
                    </button>
                  </div>

                  <div class="text-center pb-4">
                    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#user-delete-modal"aria-expanded="false">
                      Delete account
                    </button>

                    <div class="modal fade" id="user-delete-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-sm">
                        <div class="modal-content">

                          <div class="modal-header justify-content-center">
                            <h5 class="modal-title fw-bold" id="modal-title">Delete Account?</h5>
                          </div>

                          <div class="modal-body">
                            <p class="text-secondary text-center">This cannot be undone. Your account and any content created will be deleted forever.</p>
                          </div>

                          <div class="modal-footer justify-content-center d-flex">
                            <button class="btn btn-danger col-12" type="button" onclick="deleteUser('<%= user.id %>')">Delete</button>
                            <button class="btn btn-outline-dark col-12" type="button" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>




                </div>
              </div>
            </div>

            <div class="col-12 text-center my-4">
              <button type="submit" class="btn btn-primary" name="button" id="saveUserButton">Save Changes</button>
            </div>


          </div>
        </div>
      </form>

    </div>
  </div>
</div>
